<app-test></app-test>

<!-- Carousel -->
<div
  id="carouselExampleIndicators"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <ol class="carousel-indicators">
    <li
      *ngFor="let image of peliculas; let i = index"
      [attr.data-bs-target]="'#carouselExampleIndicators'"
      [attr.data-bs-slide-to]="i"
      [class.active]="i === 0"
    ></li>
  </ol>
  <div class="carousel-inner">
    <div
      *ngFor="let image of peliculas; let i = index"
      class="carousel-item"
      [class.active]="i === 0"
    >
      <img
        [src]="image.poster"
        class="d-block w-100"
        [alt]="'Slide ' + (i + 1)"
        style="cursor: pointer"
        (click)="goToPelicula(image.id)"
      />
    </div>
  </div>
  <a
    class="carousel-control-prev"
    href="#carouselExampleIndicators"
    role="button"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a
    class="carousel-control-next"
    href="#carouselExampleIndicators"
    role="button"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>

<!-- Content Section -->
<section class="py-5" style="background-color: #dc3545; color: #ffffff">
  <div class="container">
    <h1 class="display-4 text-center mb-4">Welcome to Your Website</h1>
    <p class="lead text-center">Some catchy text to describe your website.</p>
    <p class="text-center">
      <a href="#" class="btn btn-primary btn-lg">Learn More</a>
    </p>
  </div>
</section>
