<app-test></app-test>

<!-- Home -->
<section class="homee containerr" id="Home">
  <!-- Home Img -->
  <img
    src="https://images.squarespace-cdn.com/content/v1/5d9e9960ff34916b5d5216f9/1606024029611-1EXGQOQWWLXHXVOX9XPH/marina-banner.jpg"
    class="home-img"
  />
  <!-- Home text-->
  <div class="home-text">
    <h1 class="home-title">Las mejores peliculas</h1>
    <p></p>
    <!-- <a href="#" class="comprar-btn">
      <i class="bx bx-credit-card"></i>
      <span>Comprar Entrada</span>
    </a> -->
  </div>
</section>

<!-- Peliculas -->
<section class="peliculas containerr" id="peliculas">
  <!-- Peliculas header -->
  <div class="heading">
    <h2 class="heading-title">Peliculas</h2>
  </div>
  <!-- Peliculas content -->
  <swiper-container
    class="peliculas-content"
    space-between="20"
    autoplay-delay="5500"
    autoplay-disable-on-interaction="false"
    slides-per-view="4"
    navigation="true"
    scrollbar="true"
    pagination="true"
  >
    @for (pelicula of peliculas; track pelicula.id) {
    <swiper-slide>
      <div class="movie-box" (click)="goToPelicula(pelicula.id)">
        <img [src]="peliculas[0].poster" alt="" class="movie-box-img" />
        <div class="box-text">
          <h2 class="movie-title">
            {{ pelicula.nombre }}
          </h2>
          <span class="movie-type">{{ pelicula.Genero }}</span>
          <a href="#" class="comprar-btn reservar-btn">
            <i class="bx bx-credit-card"></i>
          </a>
        </div>
      </div>
    </swiper-slide>
    }
  </swiper-container>

  <!--<div class="peliculas-content swiper">
    <div class="swiper-wrapper">


      <div class="swiper-slide">
        <div class="movie-box">
          <img [src]="peliculas[0].poster" alt="" class="movie-box-img" />
          <div class="box-text">
            <h2 class="movie-title">
              {{ peliculas[0].nombre }}
            </h2>
            <span class="movie-type">{{ peliculas[0].Genero }}</span>
            <a href="#" class="comprar-btn reservar-btn">
              <i class="bx bx-credit-card"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="movie-box">
          <img [src]="peliculas[0].poster" alt="" class="movie-box-img" />
          <div class="box-text">
            <h2 class="movie-title">
              {{ peliculas[0].nombre }}
            </h2>
            <span class="movie-type">{{ peliculas[0].Genero }}</span>
            <a href="#" class="comprar-btn reservar-btn">
              <i class="bx bx-credit-card"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>-->
</section>
