/* .carousel-item {
  height: 400px;
} */

.carousel-item {
  height: 400px;
}

section {
  background-color: #dc3545;
  color: #ffffff;
}

.navbar {
  background-color: #ffffff;
}

.navbar .navbar-brand {
  color: #dc3545;
}

.navbar .nav-link {
  color: #dc3545;
}

.btn-primary {
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-primary:hover {
  background-color: #c82333;
  border-color: #c82333;
}

.carousel-inner {
  max-width: 800px;
  margin: 0 auto;
}

.carousel-item img {
  object-fit: cover;
}

.carousel-item img {
  object-fit: cover;
  height: 400px;
}
