@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  scroll-padding-top: 2rem;
}

:root {
  --main-color: #ffb34a;
  --hover-color: hsl(37, 94%, 57%);
  --body-color: #1e1e2a;
  --container-color: #2d2e37;
  --text-color: #fcfeff;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

.containerr {
  max-width: 1068px;
  margin: auto;
  width: 100%;
}

.bx {
  cursor: pointer;
}

.play-container {
  position: relative;
  min-height: 540px;
  margin-top: 5rem !important;
}

.about-movie {
  margin-top: 2rem !important;
  padding-top: 1rem;
}

.about-movie h2 {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--main-color);
}

.about-movie p {
  max-width: 600px;
  font-size: 0.938rem;
  margin: 10px 0;
}

/* Funciones */
.funciones {
  max-width: 800px;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.comprar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /* Cambia la posición a relativa */
  z-index: -1; /* Establece un índice de apilamiento negativo */
}

.funciones-title {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  margin: 1.6rem 0;
  color: var(--main-color);
}

.funciones-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 2rem;
}

.funciones-links a {
  text-align: center;
  background: var(--main-color);
  padding: 12px 24px;
  color: var(--body-color);
  letter-spacing: 1px;
  font-weight: 500;
}

.funciones-links a:hover {
  background: var(--hover-color);
}

.sala {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
  margin: 0;
  perspective: 1000px;
  margin-bottom: 30px;
  padding-top: 250px;
  position: relative; /* Agrega posición relativa */
  z-index: 1; /* Asegura que los asientos estén por encima del div de comprar */
}

.asiento {
  color: var(--main-color);
  font-size: 25px;
  height: 40px;
  width: 40px;
  margin: 3px;
}

.asiento.seleccionado {
  color: lightblue;
}

.asiento.vendido {
  cursor: default;
  color: red;
}

.asiento:nth-of-type(2) {
  margin-right: 20px;
}

.asiento:nth-last-of-type(2) {
  margin-left: 20px;
}

.asiento:not(.vendido):hover {
  color: greenyellow;
  transform: scale(1.2);
}

.bx-spin-hover {
  animation-iteration-count: 1;
  animation-duration: 0.5s;
}

.bx-tada-hover {
  animation-iteration-count: 1;
  animation-duration: 1.5s;
}

.bx-burst-hover {
  animation-iteration-count: 1;
  animation-duration: 0.5s;
}

.leyenda-asientos .bx {
  cursor: default;
  transform: scale(1);
}

.leyenda-asientos {
  padding: 5px 10px;
  border-radius: 5px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.leyenda-asientos li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.leyenda-asientos li small {
  margin-left: 2px;
}

.screen {
  cursor: default;
  font-size: 100px;
  margin: 10px 0;
  transform: rotateX(-48deg);
  text-shadow: 0 10px 15px rgba(255, 255, 255, 0.7);
}

.asientos {
  transform: rotateX(48deg);
}

/* Responsive */
@media (max-width: 1060px) {
  .containerr {
    margin: 0 auto;
    width: 95%;
  }
}
@media (max-width: 888px) {
  .play-container {
    min-height: 440px;
    margin-top: 4rem !important;
  }
  .play-movie {
    bottom: 14rem;
    right: 4rem;
  }
}

/* Medium Devices */
@media (max-width: 768px) {
  .tags span,
  .about-movie p {
    font-size: 0.875rem;
  }
  p {
    font-size: 0.875rem;
  }
  .play-text h2,
  .about-movie h2 {
    font-size: 1.3rem;
  }
  .play-movie {
    bottom: 10rem;
    right: 2rem;
  }
}
@media (max-width: 514px) {
  .play-text {
    padding: 20px;
  }
  .play-movie {
    bottom: 4rem;
  }
}
@media (max-width: 408px) {
  * {
    scroll-padding-top: 5rem;
  }
  .play-container {
    margin-top: 7rem !important;
  }
}
