<app-test></app-test>
<div class="">
  <div class="container d-flex justify-content-center align-items-center">
    <div class="card p-4 shadow">
      <h2 class="card-title text-center">Registro de usuario</h2>
      <form [formGroup]="resetPasswordForm" (submit)="submitResetPassword()">
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="text"
            class="form-control"
            id="email"
            name="email"
            placeholder="Ingrese su email"
            formControlName="email"
            required
          />
          <div
            *ngIf="
              resetPasswordForm.get('email')?.invalid &&
              (resetPasswordForm.get('email')?.dirty ||
                resetPasswordForm.get('email')?.touched)
            "
            class="text-warning form-text"
          >
            <ul>
              <li *ngIf="resetPasswordForm.get('email')?.errors?.['required']">
                El email es requerido.
              </li>
              <li *ngIf="resetPasswordForm.get('email')?.errors?.['email']">
                El email debe ser valido.
              </li>
            </ul>
          </div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Nueva contraseña</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="Ingrese su nueva contraseña"
            formControlName="password"
          />
          <div
            *ngIf="
              resetPasswordForm.get('password')?.invalid &&
              (resetPasswordForm.get('password')?.dirty ||
                resetPasswordForm.get('password')?.touched)
            "
            class="text-warning form-text"
          >
            <ul>
              <li
                *ngIf="resetPasswordForm.get('password')?.errors?.['required']"
              >
                La contraseña es requerida.
              </li>
              <li
                *ngIf="resetPasswordForm.get('password')?.errors?.['minlength']"
              >
                La contraseña debe superar los 6 caracteres.
              </li>
            </ul>
          </div>
        </div>
        <div class="mb-3">
          <label for="confirmPassword" class="form-label"
            >Confire su contraseña nueva</label
          >
          <input
            type="password"
            class="form-control"
            id="confirmPassword"
            name="confirmPassword"
            placeholder="Ingrese su contraseña nueva"
            formControlName="confirmPassword"
            required
          />
          <div
            *ngIf="
              (resetPasswordForm.errors?.['mismatch'] ||
              resetPasswordForm.get('confirmPassword')?.invalid) &&
              (resetPasswordForm.get('confirmPassword')?.dirty ||
                resetPasswordForm.get('confirmPassword')?.touched)

            "
            class="text-warning form-text"
          >
            <ul>
              <li
                *ngIf="resetPasswordForm.get('password')?.errors?.['required']"
              >
                La contraseña es requerida.
              </li>
              <li
                *ngIf="resetPasswordForm.get('password')?.errors?.['minlength']"
              >
                La contraseña debe superar los 6 caracteres.
              </li>
              <li *ngIf="resetPasswordForm.errors?.['mismatch']">
                Las contraseñas no coinciden.
              </li>
            </ul>
          </div>
        </div>
        <button type="submit" class="btn btn-primary w-100">
          Cambiar contraseña
        </button>
      </form>
    </div>
  </div>
</div>
