<h1 class="h3 mb-3"><strong>Usuarios</strong> registrados</h1>

<div class="row">
  <div class="col-12 col-lg-8 col-xxl-9 d-flex">
    <div class="card flex-fill">
      <table class="table table-hover my-0">
        <thead>
          <tr>
            <th class="d-none d-md-table-cell">Id</th>
            <th class="d-none d-md-table-cell">Email</th>
            <th class="d-none d-xl-table-cell">Nombre</th>
            <th class="d-none d-xl-table-cell">Apellido</th>
            <th class="d-none d-xl-table-cell">Cedula</th>
            <th class="d-none d-md-table-cell">Rol</th>
          </tr>
        </thead>
        <tbody>
          @for (user of users; track user.id) {
          <tr>
            <td class="d-none d-xl-table-cell">{{ user.id }}</td>
            <td class="d-none d-xl-table-cell">{{ user.email }}</td>
            <td class="d-none d-xl-table-cell">{{ user.name }}</td>
            <td class="d-none d-xl-table-cell">
              {{ user.extra_data.lastName }}
            </td>
            <td class="d-none d-xl-table-cell">
              {{ user.extra_data.cedula }}
            </td>
            <td>
              <span class="badge bg-primary">{{ user.rol }}</span>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
