<app-test></app-test>
<div class="">
  <div class="container d-flex justify-content-center align-items-center">
    <div class="card p-4 shadow">
      <h2 class="card-title text-center">Recuperacion de contraseña</h2>
      <form [formGroup]="forgotForm" (submit)="submitForgot()">
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="text"
            class="form-control"
            id="email"
            name="email"
            placeholder="Ingrese su email"
            formControlName="email"
            required=""
          />
          <div
            *ngIf="
              forgotForm.get('email')?.invalid &&
              (forgotForm.get('email')?.dirty ||
                forgotForm.get('email')?.touched)
            "
            class="text-warning form-text"
          >
            <ul>
              <li *ngIf="forgotForm.get('email')?.errors?.['required']">
                El email es requerido.
              </li>
              <li *ngIf="forgotForm.get('email')?.errors?.['email']">
                El email debe ser valido.
              </li>
            </ul>
          </div>
        </div>
        <button
          type="submit"
          class="btn btn-primary w-100"
          [disabled]="btnStatus"
        >
          Recuperar contraseña
        </button>
        @if (emailSent) {
        <div class="text-center mt-3">
          <div class="alert alert-success" role="alert">
            <div>Correo enviado con exito</div>
          </div>
        </div>
        } @else if (error) {
        <div class="text-center mt-3">
          <div class="alert alert-warning" role="alert">
            <div>Refresque la pagina y vuelva a intentar en 5 minutos</div>
          </div>
        </div>
        }
      </form>
    </div>
  </div>
</div>
