<div class="card mb-3 w-50">
  <div class="card-header">
    <h5 class="card-title mb-0">Actualizar perfil</h5>
  </div>
  <div class="card-body">
    <form (submit)="submitCreate()">
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label"
          >Nombre de la sala</label
        >
        <input
          type="text"
          name="name"
          [(ngModel)]="sala.nombre"
          class="form-control"
          id="exampleInputPassword1"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label"
          >Tipo de la sala</label
        >
        <select
          name="tipo"
          [(ngModel)]="sala.tipo"
          class="form-control"
          id="exampleInputPassword1"
        >
          <option value="1">Sala regular</option>
          <option value="2">Sala vip</option>
        </select>
      </div>

      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label"
          >Cantidad de filas de asientos:</label
        >
        <input
          type="number"
          name="asientos"
          [(ngModel)]="sala.filas"
          class="form-control"
          id="exampleInputEmail1"
        />
      </div>

      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label"
          >Cantidad de asientos por fila:</label
        >
        <input
          type="number"
          name="asientos"
          [(ngModel)]="sala.asientos_por_fila"
          class="form-control"
          id="exampleInputEmail1"
        />
      </div>

      <button type="submit" class="btn btn-primary">Crear Sala</button>
    </form>
  </div>
  <hr class="my-0" />
</div>
