<app-test></app-test>

<div class="play-container containerr">
  <img [src]="pelicula.poster" alt="" class="play-img" />
  <div class="play-text">
    <h2>{{ pelicula.nombre }}</h2>
    <!--ratings-->
    <div class="rating">
      <i class="bx bxs-star"></i>
      <i class="bx bxs-star"></i>
      <i class="bx bxs-star"></i>
      <i class="bx bxs-star"></i>
      <i class="bx bxs-star-half"></i>
    </div>
    <!--tags-->
    <div class="tags">
      <span>{{ pelicula.genero }}</span>
      <span>Duracion: {{ pelicula.duracion }} minutos</span>
      <span>Clasificacion: {{ pelicula.clasificacion }}</span>
    </div>
  </div>
  <!--Video player-->
  <div class="video-container">
    <!--Video-box-->
    <div class="video-box">
      <video
        id="MyVideo"
        src="https://www.youtube.com/watch?v=M8W_y0mmJEc"
        controls
      ></video>
      <!--close video-->
      <i class="bx bx-x close-video"></i>
    </div>
  </div>
  <!--Play trailer-->
  <!--<i class="bx bx-right-arrow play-movie"></i>-->
</div>
<!--About-->
<div class="about-movie containerr">
  <h2>{{ pelicula.nombre }}</h2>
  <p>{{ pelicula.sinopsis }}</p>
</div>
<!--Funciones-->
<div class="funciones">
  <h2 class="funciones-title">Funciones disponibles</h2>
  <div class="funciones-links">
    @for (horario of pelicula.horarios; track horario.id) {
    <a (click)="funcionElegida(horario.id)">{{ horario.hora }}</a>
    }
  </div>
</div>
